{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <!--- Haut de page --->
    <div class="row connexionTitle">
        <div class="container-fluid col-md-6 text-center fs-4 bold mt-5">
            <div class="col-md-12">
                <p>Bienvenue sur l'application Parc Automobile</p>
            </div>
        </div>
    </div>
    <!--- Contenu reservation --->
    <div class="row reservation">
        <div class="form-reservation col-9 col-sm-7 col-md-5 col-lg-8 mx-auto justify-content-center border border-color border-2 mt-5 mb-5">
            <h1 class="fs-4 text-center mt-3">Formulaire de réservation d'une voiture</h1>
            <div class="col-10 col-lg-5 mx-auto mt-5">
                {{ form_start(reservationForm) }}
                {{ form_row(reservationForm.demand) }}
                {{ form_row(reservationForm.operationCode) }}
                {{ form_row(reservationForm.teams) }}
                {{ form_row(reservationForm.departureDate) }}
                {{ form_row(reservationForm.departureTime) }}
                {{ form_row(reservationForm.returnDate) }}
                {{ form_row(reservationForm.returnTime) }}
                {{ form_row(reservationForm.sites) }}
                {{ form_row(reservationForm.types) }}
                {{ form_row(reservationForm.comments) }}
            </div>
            <div class="button-form d-flex justify-content-center">
                <button type="submit" class="btn btn-color btn-lg w-25 offset-5 mx-auto mb-3">Soumettre</button>
            </div>
                {{ form_end(reservationForm) }}
        </div>
    </div>
{% endblock %}
